

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef1f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 450px;
    margin: auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #5b9bd5;
    outline: none;
}

button {
    background-color: #5b9bd5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4292b7;
}

.back-button{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.back-button svg {
    width: 24px;
    height: 24px;
    margin-right: 9px;
}

.back-button span {
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .social-media-icons .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .social-media-icons .icon:hover {
    transform: scale(1.1);
  }
  
  .icon.facebook {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg');
  }
  
  .icon.instagram {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png');
  }
  